/*
*
* @author Allysson Oliveira
* @version 1.0
*/

/* ==================== Layout ==================== */

html, body, .capa {
	height: 100%;
	overflow: auto;
}

body {
	background: url('imagens/teste.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#363636,#cfcfcf);
	/* define backgoround fixo */ 		
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}


/* -- Imagem de capa -- */
.capa{
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.centro {
	margin: 50px;
}

/* -- Barra de navegação -- */

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/tattoo.png') no-repeat;
    background-size: contain;
	color: transparent;
	margin: 0px -50px;
}

nav.navbar-transparente{
	padding: 15px 0px;
	/* define background transparente */
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

/* -- Imagem de capa -- */
.capa{
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: center;
}

/* -- Botões -- */
.btn-custom {
	border: 50px solid white;
	color: white;
	border-radius: 1000px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding: 10px 35px;
    margin: 0px 15px;


}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {

	background-color: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

/* -- Seção serviço -- */
#servicos {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns {
	padding: 10px 0px 10px 0px;
}

/* -- Seção recursos -- */
#recursos {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.rotacionar {
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /*IE 9 */
	-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
	padding-left: 80px; 
}

/* -- Rodapé -- */
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

.item-rede-social {
	float: right;
}

/* ==================== Tipografia ==================== */

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2 {
	font-size: 50px;
	font font-weight: 700;
	letter-spacing: -0.04em;*
}

h3 {
	font-size: 35px;
	font font-weight: 700;
	letter-spacing: -0.04em;*
}

#servicos h2 {
	color: #7c25f8;
}

#servicos h3 {
	color: #7c25f8;
}

#recursos h3 {
	color: #9bf0e1;
}

#rodape h4 {
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

/* ==================== Media Queries ==================== */

